{% extends "pages/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Contact
{% endblock %}
{% block content %}

<section id="contact">

        <div class="contact-container container">
            
            

            <form method="post">
    {% csrf_token %}
    <h2>Get In Touch</h2>
    <div class="contact-div">
        <div>
            <div>Hey, my name is</div>
            <input type="text" name="full_name" placeholder="Full Name">
        </div>
        <div>
            <div>and I'm looking to</div>
            <input type="text" name="subject" placeholder="e.g. Buy / Sell / Join">
        </div>
    </div>
    <div class="contact-div">
        <div>
            <div>My email address is</div>
            <input type="email" name="email" placeholder="your@email.com">
        </div>
        <div>
            <div>and my phone number is</div>
            <input type="text" name="phone" placeholder="+1 (206) 000-0000">
        </div>
    </div>
    <textarea name="message" cols="30" rows="10" placeholder="Additional details go here..."></textarea>
    <div>
        <input type="submit" value="Send">
    </div>
    <div class="check-div">
        <input type="checkbox" id="labela" name="agree_to_communicate">
        <label for="labela">
            By checking this box you agree to receive communication(s) from Austin Homolka. Data rates may apply. You can opt out by replying "stop"
        </label>
    </div>
</form>



            <iframe width="100%" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0" height="500px"
                src="https://maps.google.com/maps?q=2815%20Elliott%20Avenue%2C%20Seattle%2C%20Washington%2C%2098121&amp;output=embed"></iframe>

        </div>

    </section>

{% endblock %}