{% extends "pages/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Privacy Policy
{% endblock %}
{% block content %}
<section id="topArticle">

    <section id="actual-article">

        <div class="actual-article-container container">

            <div class="articleLeft">

                <h1>Privacy Policy</h1>
                <p>Privacy Policy for Austin Homolka

Last Updated: December 7, 2023

Introduction

Austin Homolka (“Austin Homolka”, “we”, “us”, or “our”) provides a range of real estate-related services. This Privacy Policy applies to all individuals interacting with Austin Homolka clients through our website, services, and technologies.

Personal Information We Collect

Information You Provide: This may include contact information (name, email, phone number), feedback, correspondence, and marketing preferences.

Information from Third Parties: This includes social media information and data from our clients' marketing partners, public sources, and analytics services.

Automatic Data Collection: We collect device data, online activity data through cookies, local storage technologies, and web beacons.

How We Use Your Personal Information

To Operate our Services: This includes providing, operating, improving our services, communicating with you, and responding to inquiries.

To Comply with Laws: We comply with legal requirements and respond to lawful requests from authorities.

For Marketing: We send marketing communications as permitted by law.

For Compliance, Fraud Prevention, and Safety: This includes protecting rights, privacy, safety, and against fraudulent or illegal activities.

To Create Anonymous Data: For business analysis, research, and promotion.

How We Share Your Personal Information

With our Clients: To facilitate interactions and as directed by them.

Service Providers: Companies that help us operate our services.

Professional Advisors: Such as lawyers, auditors, and insurers.

For Legal Reasons and Business Transfers: In the event of mergers, acquisitions, or compliance reasons.

Your Privacy Choices

Opting Out: You can opt out of online tracking, block cookies, and choose not to receive marketing communications.

Privacy Rights: Depending on your location, you may have rights to access, correct, or delete your personal information.

Security

We use various safeguards to protect personal information but cannot guarantee absolute security.

Children’s Privacy

Our Services are not intended for children under 18 years of age.

Changes to this Privacy Policy

We may update this policy and will notify users of significant changes.

Contact Us

For questions or concerns about our privacy practices, contact us at austin@austinhomolka.com. or at our mailing address.</p>

            </div>


        </div>

    </section>

{% endblock %}