{% extends "pages/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Videos
{% endblock %}
{% block content %}

    


<section id="hero" class="sub-page-banner">

        <img src="{% static 'img/videos.jpg' %}" alt="properties"
            style="position: absolute; z-index: 0; height: 100%; width: 100%; object-fit: cover; top: 0; right: 0; left: 0; bottom: 0;">

        <div class="bg-gradient-video"></div>

        <div class="hero-container container">

            <div class="discover">

                <h2>Videos</h2>

                <a href="#videos">
                    <svg width="25" height="25" viewBox="0 0 40 40" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M32.4946 13.3148L19.9996 25.4948L7.50458 13.3148C7.28135 13.0968 6.98165 12.9747 6.66958 12.9747C6.35751 12.9747 6.05781 13.0968 5.83458 13.3148C5.72649 13.4207 5.64061 13.5472 5.58199 13.6867C5.52336 13.8262 5.49316 13.976 5.49316 14.1273C5.49316 14.2787 5.52336 14.4285 5.58199 14.568C5.64061 14.7075 5.72649 14.8339 5.83458 14.9398L19.1271 27.8998C19.3605 28.1274 19.6736 28.2547 19.9996 28.2547C20.3256 28.2547 20.6386 28.1274 20.8721 27.8998L34.1646 14.9423C34.2734 14.8363 34.36 14.7096 34.419 14.5696C34.4781 14.4297 34.5086 14.2793 34.5086 14.1273C34.5086 13.9754 34.4781 13.825 34.419 13.685C34.36 13.545 34.2734 13.4183 34.1646 13.3123C33.9413 13.0943 33.6417 12.9722 33.3296 12.9722C33.0175 12.9722 32.7178 13.0943 32.4946 13.3123V13.3148Z"
                            fill="white" />
                    </svg>
                </a>

            </div>

        </div>

    </section>

    <section id="videos">
        <div class="videos-container container">
            <div class="videos">
                <!-- Loop through each video in the videos list -->
                {% for video in videos %}
                <div class="video">
                    <div>
                        <!-- Display the thumbnail image from the video data -->
                        <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                        <div>
                            <!-- Display the play button overlay -->
                            <img src="{% static 'img/play.png' %}" alt="Play" style="width:58px; height:58px; position: absolute;">
                        </div>
                    </div>
                    <!-- Display the title of the video -->
                    <div>{{ video.title }}</div>
                </div>
                <div class="yt-modal">
                    <div class="anx">
                        <img src="{% static 'img/x.svg' %}" alt="x">
                    </div>

                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ video.youtube_video_id }}" title="{{ video.title }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>

            const videos = document.querySelectorAll(".video");
            const modal = document.querySelector(".yt-modal");
            const closeBtn = document.querySelector(".anx");
            const iframe = document.querySelector(".yt-modal iframe");
            const originalSrc = iframe.getAttribute("src"); // Save the original src
            
            videos.forEach(video => {
                video.addEventListener("click", () => {
                    modal.style.display = "flex";
                    iframe.setAttribute("src", originalSrc); // Re-add the src attribute when opening the modal
                });
            });
            
            closeBtn.addEventListener("click", () => {
                modal.style.display = "none";
                iframe.removeAttribute("src"); // Remove the src attribute when closing the modal
            });
            

        </script>


{% endblock %}